{% extends "template.html" %} <!-- Qual o arquivo envólucro desse conteúdo? -->
{% block conteudo %} <!-- Definir conteúdo -->
      <form action={{ url_for('criar_jogo') }} method="POST">
        <fieldset>
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" class="form-control">
          </div>
          <div class="form-group">
            <label for="categoria">Categoria</label>
            <input type="text" id="categoria" name="categoria" class="form-control">
          </div>
          <div class="form-group">
            <label for="plataforma">Plataforma</label>
            <input type="text" id="plataforma" name="plataforma" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
        </fieldset>
      </form>
{% endblock %} <!-- Fechar conteúdo -->